name: Build da Aplicacao do Desafio4

on:
  workflow_dispatch

permissions:
  contents: read
  packages: write

env:  
  GH_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}  
        
        - name: Build Image
          working-directory: ./desafio4/aplicacao
          run: |
            ls -la
            pwd
            IMAGE=ghcr.io/${{ github.repository }}/desafio4:latest
            docker build \
              --build-arg GH_PACKAGES_TOKEN \
              -t "$IMAGE" \
              .
            docker image push "$IMAGE"
