name: Build da Aplicacao do Desafio4

on:
  workflow_run:
    workflows: [Publica Package da Aplicacao do Desafio4]
    types:
      - completed

permissions:
  contents: read
  packages: write

env:  
  GH_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}  
        
        - name: Build Image
          run: |
            IMAGE=ghcr.io/${{ github.repository }}/desafio4:${{ github.sha }}
            docker build \
              --build-arg GH_PACKAGES_TOKEN \
              -t "$IMAGE" \
              desafio4/aplicacao
            docker image push "$IMAGE"
