name: Executa Aplicacao do Desafio4

on:
  workflow_dispatch

permissions:
  contents: read
  packages: read

env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
  GH_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  IMAGE_NAME: "ghcr.io/sergiolnx/desafio4/desafio4:latest"

jobs:
  roda-aplicacao:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}  
        
        - name: Roda Aplicacao
          run: docker run -d -e  NOME_ALUNO=${{ vars.NOME_ALUNO }} -p 3000:3000 ${{ env.IMAGE_NAME }}

        - name: Test Aplicacao
          run: |
             for i in {1..10}; do
               if curl -s http://localhost:3000/; then
                 echo "App is up!"
                 exit 0
                else
                    echo "Waiting for app..."
                    sleep 3
                fi
             done
             echo "App did not start in time"
             exit 1 
