name: Executa Aplicacao do Desafio4

on:
  workflow_dispatch

permissions:
  contents: read
  packages: read

env:
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
  GH_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  IMAGE_NAME: "ghcr.io/sergiolnx/desafio4/desafio4:latest"

jobs:
  roda-aplicacao:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}  
        
        - name: Roda Aplicacao
          run: docker run -d -e  NOME_ALUNO=${{ vars.NOME_ALUNO }} -p 3000:3000 ${{ env.IMAGE_NAME }}

        - name: Test Aplicacao
          run: curl http://localhost:3000/

